.currentPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 15px;

  padding: 2rem;
  &_post {
    display: flex;
    flex-direction: column;
    row-gap: 1em;

    &_senderName {
      font-size: 55px;
    }
    &_content {
      font-size: 32px;
    }
  }
  &_comments {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 50%;
    &_title {
      margin-bottom: 1rem;
    }
    &_box {
      border: 2px solid gray;
      padding: 1rem;
      border-radius: 10px;
    }
  }
}
